#khungtrang {
	width: 1000px;
	text-align: center;
	margin: auto;
}
#menubar {
	width: 1000px;
	height: 42px;
	background-color: darkgreen;
	
}
#menubar a{
	display: block;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: white;
	list-style-type: none;
	width: 110px;
	background-color: darkgreen;
	border: thin solid transparent;
	float: left;
	font-size: 15pt;
}
#menubar a:hover {
	background-color: white;
	color: green;
	text-decoration: underline;
	border: thin solid darkgreen;
}
#menubar a.right{
	float:right;
}
.tieudemenu {
	float: left;
	position: relative;
}

#banner img{
	position: relative;
	width: 1000px;
	margin: auto;
	display: block;
}
#cottrai {
	width: 200px;
	float: left;
	border-right: thin solid green;
	background-color: white;
	color: green;
}
#cottrai a {
	display: block;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: green;
	list-style-type: none;
	width: 198px;
	background-color: white;
	border: thin solid transparent;
	float: left;
	font-size: 20pt;
	padding: auto;
}
#cottrai a:hover {
	background-color: darkgreen;
	color: white;
	text-decoration: underline;
	border: thin solid darkgreen;
}
#cottrai p.tieudemenu {
	color: green;
	font-weight: bold;
	font-size: 20px;
}