#khungtrang {
	width: 1000px;
	text-align: center;
	margin: auto;
}
#menubar {
	width: 1000px;
	height: 42px;
	background-color: darkgreen;
	
}
#menubar a{
	display: block;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: white;
	list-style-type: none;
	width: 110px;
	background-color: darkgreen;
	border: thin solid transparent;
	float: left;
	font-size: 15pt;
}
#menubar a:hover {
	background-color: white;
	color: green;
	text-decoration: underline;
	border: thin solid darkgreen;
}
#menubar a.right{
	float:right;
}
.tieudemenu {
	float: left;
	position: relative;
}
.menucon {
	float: left;
	position: relative;
}
.tieudemenucon {
	display: none;
	position: absolute;
	top: 42px; /* đúng bằng chiều cao menubar */
	left: 0;
	background-color: darkgreen;
	min-width: 160px;

	z-index: 999;
}
.tieudemenucon a {
	float: none; /* tránh tràn hàng ngang */
	display: block;
	color: white;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	font-size: 13pt;
}
.tieudemenucon a:hover {
	background-color: white;
	color: green;
	text-decoration: underline;
}
.menucon:hover .tieudemenucon {
	display: block;
}
#banner img{
	position: relative;
	width: 1000px;
	margin: auto;
	display: block;
}
